@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
}

.main-header {
  position: relative;
  height: 56px;
}

.main-header__link {
  display: flex;
  justify-content: center;
}

.main-header__logo {
  z-index: 2;
}

.main-navigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.main-navigation__list {
  display: none;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  display: flex;
  background-color: #81b3d2;
}

.site-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 12px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

.site-list__item:nth-last-child(1)::after {
  content: " ";
  position: absolute;
  width: 320px;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  bottom: 0;
}

.main-container {
  flex-grow: 1;
  width: 100%;
}

.intro-index {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 389px;
  background-color: #81b3d2;
}

.advantages__block {
  padding-top: 32px;
  padding-left: 18px;
  padding-right: 18px;
}

.advantages__block-title {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages__block-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-top: 35px;
}

.advantages__list {
  text-align: center;
}
.advantages__list.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  color: #ffffff;
  text-align: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__number {
  padding-top: 11px;
  padding-bottom: 17px;
  margin: 0;
}

.advantages__text {
  text-transform: uppercase;
  margin: 0;
}

.advantages__content--city {
  padding: 54px 18px 40px;
  background-color: #81b3d2;
}

.advantages__content--bridge {
  padding: 37px 18px;
  background-color: #81b3d2;
}

.advantages__content--square {
  padding: 24px 26px;
  background-color: #eeeeee;
  color: #333333;
}

.advantages__content--road {
  padding: 24px 41px;
  background-color: #eeeeee;
  color: #333333;
}

.advantages__content--tourists {
  padding: 24px 18px 28px;
  background-color: #eeeeee;
  color: #333333;
}

.advantages__photo {
  min-width: 320px;
  min-height: 260px;
  background-color: #3b6689;
}

.advantages__title--dark {
  color: #000000;
}

.hotel-search {
  padding: 39px 18px 49px;
  text-align: center;
}

.hotel-search__content {
  text-align: center;
  padding: 0 11px 32px;
  text-transform: uppercase;
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 24px;
}

.hotel-search__text {
  margin: 0;
  color: #333333;
}

.hotel-search__button {
  width: 284px;
}

.map {
  min-width: 320px;
  min-height: 350px;
  background-color: #3b6689;
}

.main-footer {
  padding: 33px 82px;
  text-align: center;
}

.main-footer__link {
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.main-footer__social {
  padding-top: 31px;
  padding-bottom: 29px;
  display: grid;
}

.main-footer__text {
  text-transform: uppercase;
  margin: 0;
  padding-top: 7px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro-inner {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 158px;
  background-color: #81b3d2;
}

.gallery {
  padding: 30px 20px 0;
}

.gallery__title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.gallery__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 42px;
}

.gallery__item {
  padding-top: 24px;
  padding-bottom: 25px;
}

.gallery-item__image {
  background-color: #81b3d2;
  min-height: 280px;
  min-width: 280px;
}

.gallery-item__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;
}

.gallery-item__description {
  color: #333333;
  margin: 0;
}

.gallery-item__sum {
  color: #000000;
  padding-top: 16px;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.presentation {
  padding: 0 20px 0;
}

.presentation__title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 17px;
}

.presentation__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 38px;
}

.presentation__video {
  min-width: 280px;
  min-height: 177px;
  background-color: #3b6689;
}

.form {
  padding-left: 20px;
  padding-right: 20px;
}

.form__group-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  padding-bottom: 24px;
}

.form__group-title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 24px;
  font-weight: 700;
}

.form__group-label {
  text-transform: uppercase;
  margin: 0;
  padding-left: 16px;
}

.form__group-input {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 16px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.form__group-input::placeholder {
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.form__group-input--contacts::placeholder {
  opacity: 30%;
}

.form__group-item {
  height: 46px;
  display: flex;
  padding-bottom: 16px;
  align-items: center;
}

.form__control {
  position: relative;
  padding-left: 62px;
}

.form__control-mark {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: -10px;
}

.form__control-input[type=radio]:checked + .form__control-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.form__control-label {
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.form__control-checkbox {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 5px;
  top: -10px;
}

.form__block-title {
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 38px;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}

.form__block-text {
  min-width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
.form__block-text::placeholder {
  padding: 16px;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  opacity: 30%;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: block;
}

.form__button-note {
  text-transform: uppercase;
  padding-left: 143px;
  padding-top: 3px;
  padding-bottom: 22px;
  color: #333333;
  opacity: 60%;
}

.form__button {
  width: 280px;
  padding-top: 56px;
}

.form__button-submit {
  width: 280px;
}

.review {
  text-align: center;
  padding: 36px 20px 28px;
  text-transform: uppercase;
}

.review__title {
  margin: 0;
  padding-bottom: 24px;
  line-height: 26px;
  font-size: 18px;
}

.review__text {
  color: #333333;
  margin: 0;
}

.page-container {
  width: 320px;
  margin: 0 auto;
}

.features-list {
  padding: 23px 18px 46px;
  text-transform: uppercase;
  color: #333333;
}
.features-list.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding: 8px 0 16px;
}

.features-list__item {
  padding-left: 47px;
  text-align: left;
  padding-bottom: 25px;
}

.features-list__item:last-child {
  padding-bottom: 0;
}

.features-list__text {
  margin: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 16px 5px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */