.advantages__block {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 124px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 359px;
  }
}

.advantages__block-title {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

.advantages__block-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.advantages__list {
  text-align: center;

  &.advantages__list {
    @include reset;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  color: #ffffff;
  text-align: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__number {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__text {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__content--city {
  padding: 54px 18px 40px;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px;
  }
}

.advantages__content--bridge {
  padding: 37px 18px;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px;
  }
}

.advantages__photo--bridge {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.advantages__item--square {
  padding: 24px 26px;
  background-color: #eeeeee;
  color: #333333;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 63px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }
}

.advantages__item--road {
  padding: 24px 41px;
  background-color: #eeeeee;
  color: #333333;

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }
}

.advantages__item--tourists {
  padding: 24px 18px 28px;
  background-color: #eeeeee;
  color: #333333;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 63px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }
}

.advantages__photo {
  width: 100%;
  min-height: 260px;
  background-color: #3b6689;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.advantages__title--dark {
  color: #000000;
}

.advantages__item-photo {
  @media (min-width: $tablet-width) {
    display: grid;
    padding: 0;
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
