.advantages__block {
  padding: 35px 18px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}

.advantages__block-title {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 30px;
  }
}

.advantages__block-title br:first-child {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__block-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.advantages__list {
  text-align: center;

  &.advantages__list {
    @include reset;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  color: #ffffff;
  text-align: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__title--dark {
  color: #000000;
}

.advantages__title br {
  @media (max-width: 767px) {
    display: none;
  }
}

.advantages__number {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.advantages__text {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__text--mobile {
  @media (max-width: 767px) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__text--tablet {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__text--desktop {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__content--city {
  position: relative;
  padding: 71px 18px 40px;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px 50px 51px;
  }

  @media (max-width: 767px) {
    &::after {
      content: "";
      position: absolute;
      height: 37px;
      width: auto;
      top: 0;
      left: 0;
      right: 0;
      background-image: url("../img/divider-secondary.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      clip-path: none;
    }
  }
}

.advantages__content--bridge {
  padding: 37px 18px;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px;
  }
}

.advantages__item--square {
  padding: 24px 26px;
  background-color: #eeeeee;
  color: #333333;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 63px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 18px;
      left: 18px;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}

.advantages__item--road {
  padding: 24px 41px;
  background-color: #eeeeee;
  color: #333333;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 18px;
      left: 18px;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}

.advantages__item--tourists {
  padding: 24px 18px 28px;
  background-color: #eeeeee;
  color: #333333;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 63px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 18px;
      left: 18px;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}

.advantages__photo {
  min-width: 100%;
  background-color: #3b6689;
  display: block;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    max-height: 256px;
  }
}

.advantages__item-photo {
  @media (min-width: $tablet-width) {
    display: grid;
    padding: 0;
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__image {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.advantages__image--bridge {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}
