.advantages-block {
  padding-top: 32px;
  padding-left: 18px;
  padding-right: 18px;
}

.advantages-block__title {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages-block__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-top: 35px;
}

.advantages__list {
  text-align: center;
}

.advantages__item {
  color: #ffffff;
  text-align: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__number {
  padding-top: 11px;
  padding-bottom: 17px;
  margin: 0;
}

.advantages__text {
  text-transform: uppercase;
  margin: 0;
}

.advantages__item--city {
  padding: 54px 18px 40px;
}

.advantages__item--bridge {
  padding: 37px 18px;
}

.advantages__item--square {
  padding: 24px 26px;
}

.advantages__item--road {
  padding: 24px 41px;
}

.advantages__item--tourists {
  padding: 24px 18px 28px;
}

.advantages-item__content {
  background-color: #81b3d2;
}

.advantages__photo {
  min-width: 320px;
  min-height: 260px;
  background-color: #3b6689;
}

.advantages-item {
  background-color: #eeeeee;
  color: #333333;
}

.advantages-title {
  color: #000000;
}

.features__list {
  padding: 23px 18px 46px;
  text-transform: uppercase;
  color: #333333;
}

.features__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding: 8px 0 16px;
}

.features__item {
  padding-left: 47px;
  text-align: left;
  padding-bottom: 25px;
}

.features__item:last-child {
  padding-bottom: 0;
}

.features__text {
  margin: 0;
}
