.button-feedback {
  padding-left: 20px;
}

.button-feedback__background {
  font-family: "PT Sans", sans-serif;
  background-color: #81b3d2;
  color: #ffffff;
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}

.review__legend {
  padding-top: 3px;
  text-transform: uppercase;
}
