.main-footer__developing {
  width: 129px;
}

.developing__text {
  text-transform: uppercase;
  margin: 0;
  padding: 7px 12px 7px 0;
  color: #000000;
}

.developing__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:hover .developing__text {
    color: #81b3d2;
  }

  &:hover .developing__logo {
    fill: #81b3d2;
  }

  &:active .developing__text {
    color: #b3b3b3;
  }

  &:active .developing__logo {
    fill: #b3b3b3;
  }
}
