.emotion {
  padding-bottom: 56px;
}

.emotion__text {
  min-width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  padding: 16px;
  border: none;
}

.emotion__text::placeholder {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  opacity: 30%;
  font-family: "PT Sans", sans-serif;
}
