.features-list {
  padding: 23px 18px 46px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    flex-direction: row;
    padding: 0;
  }
}

.features-list__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0;
    margin-bottom: 23px;
  }
}

.features-list__item {
  position: relative;
  text-align: left;
  padding-bottom: 25px;
  padding-left: 47px;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 39px;
    top: -5px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--house::before {
    background-image: url("../img/icon-house.svg");
  }

  &--food::before {
    background-image: url("../img/icon-food.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icon-souvenirs.svg");
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0;
    width: 256px;

    &::before {
      width: 80px;
      height: 80px;
      top: 55px;
      left: 50%;
      translate: -50%;
    }

    &--souvenirs::before {
      top: 60px;
      left: 51%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;

    &--souvenirs::before {
      left: 50%;
    }

    &::before {
      top: 66px;
    }
  }
}

.features-list__item--house {
  @media (min-width: $tablet-width) {
    padding: 158px 33px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 169px 50px 69px;
  }
}

.features-list__item--food {
  @media (min-width: $tablet-width) {
    padding: 156px 33px 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 166px 50px 71px;
  }
}

.features-list__item--souvenirs {
  @media (min-width: $tablet-width) {
    padding: 153px 33px 64px;
  }

  @media (min-width: $desktop-width) {
    padding: 170px 50px 67px;
  }
}

.features-list__item:last-child {
  @media (max-width: 767px) {
    padding-bottom: 0;
  }
}

.features-list__text {
  margin: 0;
}

.features-list__text--mobile {
  @media (max-width: 767px) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.features-list__text--tablet {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.features-list__text--desktop {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
