.features-list {
  padding: 23px 18px 46px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    flex-direction: row;
    padding: 0;
  }
}

.features-list__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding: 8px 0 16px;
}

.features-list__wrapper {
  padding: 0 18px 0 65px;

  @media (min-width: $tablet-width) {
    padding: 150px 33px 64px;
  }

  @media (min-width: $desktop-width) {
    padding: 170px 50px 71px;
  }
}

.features-list__item {
  position: relative;
  text-align: left;
  padding-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 37px;
    top: 0;
    left: 15px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--house::before {
    background-image: url("/source/img/icon-house.svg");
  }

  &--food::before {
    background-image: url("/source/img/icon-food.svg");
  }

  &--souvenirs::before {
    background-image: url("/source/img/icon-souvenirs.svg");
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0;
    padding: 0;

    &::before {
      width: 80px;
      height: 80px;
      top: 62px;
      left: 50%;
      translate: -50%;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 72px;
    }
  }
}

.features-list__item:last-child {
  padding-bottom: 0;
}

.features-list__text {
  margin: 0;
}
