.form {
  @media (min-width: $tablet-width) {
    padding: 0 60px 64px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__wrapper {
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background-color: #dbdbdb;
      left: calc(50% - 1px);
      top: calc(50% - 169px);
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background-color: #dbdbdb;
      left: calc(50% - 1px);
      top: calc(50% - 173px);
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    gap: 50px;
    margin-bottom: 56px;
  }
}


.form__group-list {
  @include reset;

  &--radio {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin: 0 36px 48px;

      @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px 62px;
        margin: 0 0 56px;
        padding: 17px 53px;
      }
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px 32px;
      margin: 0 84px 42px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px 64px;
      padding: 31px 44px;
      margin: 0 0 56px;
    }
  }
}

.form__group {
  margin: 0;
  border: none;
  position: relative;
  padding: 0 20px;

  &--fio {
    @media (max-width: 767px) {
      margin-bottom: 23px;

      &::before {
        content: "";
        position: absolute;
        bottom: -23px;
        right: 0;
        left: 0;
        height: 1px;
        background-color: #e5e5e5;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--contacts {
    margin-bottom: 18px;

    @media (max-width: 767px) {
      &::before {
        content: "";
        position: absolute;
        bottom: -18px;
        right: 0;
        left: 0;
        height: 1px;
        background-color: #e5e5e5;
      }
    }

    @media (min-width: $tablet-width) {
      padding-left: 22px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
    }
  }

  &--impression {
    margin-bottom: 8px;

    @media (max-width: 767px) {
      &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        right: 0;
        left: 0;
        height: 1px;
        background-color: #e5e5e5;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      margin-bottom: 0;
    }
  }

  &--places {
    margin-bottom: 8px;

    @media (max-width: 767px) {
      &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        right: 0;
        left: 0;
        height: 1px;
        background-color: #e5e5e5;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      margin-bottom: 0;
    }
  }
}

.form__group-title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 24px;
  font-weight: 700;
  max-width: 238px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;
    padding-top: 0;
    max-width: 295px;
  }
}

.form__group-title--decorated::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: " ";
    height: 1px;
    top: 12px;
    width: 123px;
    left: 0;
    background-color: #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.form__group-title--decorated::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: " ";
    height: 1px;
    top: 12px;
    width: 123px;
    right: 0;
    background-color: #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.form__group-title--decor::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: " ";
    height: 1px;
    top: 25px;
    width: 123px;
    left: 0;
    background-color: #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.form__group-title--decor::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: " ";
    height: 1px;
    top: 25px;
    width: 123px;
    right: 0;
    background-color: #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.form__group-label {
  @media (min-width: 321px) {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: start;
  }
}

.form__group-name {
  text-transform: uppercase;
  padding-left: 16px;
  max-width: 248px;
  display: block;

  @media (min-width: 321px) and (max-width: $tablet-width) {
    padding-right: 10px;
  }

  @media (min-width: $tablet-width) {
    max-width: 263px;
  }

  @media (min-width: $desktop-width) {
    max-width: 398px;
  }
}

.form__group-input {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  padding-right: 60px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 17px;
  font: inherit;
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;

  &::placeholder {
    opacity: 60%;
  }

  &:hover {
    background: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    border: 4px solid #e5e5e5;
  }

  &:active {
    background: #ffffff;
    border: 4px solid #e5e5e5;
  }

  @media (min-width: 321px) {
    margin-bottom: 0;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    min-width: 295px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.form__group-input--contacts {
  &::placeholder {
    opacity: 30%;
  }
}

.form__group-item {
  min-height: 46px;
  display: flex;
  margin-bottom: 16px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &--short {
    @media (min-width: $desktop-width) {
      padding-left: 5px;
    }
  }
}

.form__control {
  position: relative;
  padding-left: 62px;
  cursor: pointer;
  max-width: 280px;
}

.form__control-mark {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  top: -10px;
  background-color: #f2f2f2;
}

.form__control-input[type="checkbox"]:checked + .form__control-checkbox::before,
.form__control-input[type="checkbox"]:checked + .form__control-checkbox::after {
  position: absolute;
  background-image: url("../img/icon-tick.svg.svg");
  background-repeat: no-repeat;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  content: "";
}

.form__control-input[type="checkbox"]:hover + .form__control-checkbox {
  background-color: #e5e5e5;
}

.form__control-input[type="checkbox"]:active + .form__control-checkbox {
  background-color: #d5d5d5;

  &::before {
    opacity: 0.3;
  }
}

.form__control-input[type="radio"]:checked + .form__control-mark::before,
.form__control-input[type="radio"]:checked + .form__control-mark::after {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.form__control-input[type="radio"]:hover + .form__control-mark {
  background-color: #e5e5e5;
}

.form__control-input[type="radio"]:active + .form__control-mark {
  background-color: #d5d5d5;

  &::before {
    opacity: 0.3;
  }
}

.form__control-label {
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.form__control-checkbox {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 5px;
  top: -10px;
}

.form__block {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.form__block-title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  padding-top: 24px;
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    font-size: 21px;
    margin-bottom: 29px;
  }
}

.form__block-text {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  width: 100%;
  min-height: 150px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 16px;
  display: block;
  resize: none;
  box-sizing: border-box;
  cursor: pointer;

  &::placeholder {
    display: block;
    color: #000000;
    opacity: 30%;
    font-family: "PT Sans", sans-serif;
  }

  @media (min-width: $tablet-width) {
    min-height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__button-note {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  color: rgba(51, 51, 51, 0.6);
  padding-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    align-self: center;
    padding-right: 0;
    font-size: 14px;
    padding-top: 5px;
  }
}

.form__button {
  margin-top: 56px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    margin-top: 48px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 384px 384px;
    padding-left: 96px;
  }
}

.form__button-submit {
  display: block;
  width: 280px;
  padding: 16px 20px;
  margin: 0 auto 3px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__group--icon {
  position: relative;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    top: 21px;
    right: 0;
    background-color: #e6e6e6;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 320px) and (max-width: 767px) {
      top: 0;
    }
  }

  @media (max-width: 320px) {
    flex-direction: column;
  }

  &-phone {
    &::after {
      background-image: url("../img/icon-phone.svg");
    }
  }

  &-mail {
    &::after {
      background-image: url("../img/icon-mail.svg");
    }
  }
}
