.form {
  padding: 24px 20px 0;
}

.form-list {
  @include reset;
}

.form-group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  padding-top: 24px;
  padding-bottom: 39px;
}

.form-group__title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
}

.form-group__label {
  text-transform: uppercase;
  margin: 0;
  padding-left: 16px;
}

.form-group__input {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 16px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;

  &::placeholder {
    line-height: 26px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
  }
}

.contacts-input {
  opacity: 30%;
}

.form-group__item {
  height: 46px;
  align-items: center;
  display: flex;
  padding-bottom: 16px;
}

.control {
  position: relative;
  padding-left: 62px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: -10px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.control-label {
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.control-checkbox {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 5px;
  top: -10px;
}

.form-group__text {
  min-width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  border: none;

  &::placeholder {
    padding: 16px;
    font-weight: 700;
    line-height: 26px;
    font-size: 18px;
    color: #000000;
    opacity: 30%;
    font-family: "PT Sans", sans-serif;
  }
}

.form-button__feedback {
  font-family: "PT Sans", sans-serif;
  background-color: #81b3d2;
  color: #ffffff;
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}

.form-button____text {
  padding-top: 3px;
  text-transform: uppercase;
  padding-left: 143px;
}
