.form {
  padding-left: 20px;
  padding-right: 20px;
}

.form__group-list {
  @include reset;
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  padding-bottom: 23px;
}

.form__group:last-child {
  padding-bottom: 0;
}

.form__group-title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 24px;
  font-weight: 700;
}

.form__group-label {
  text-transform: uppercase;
  margin: 0;
  padding-left: 16px;
}

.form__group-input {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 16px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;

  &::placeholder {
    line-height: 26px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
  }
}

.form__group-input--contacts {
  &::placeholder {
    opacity: 30%;
  }
}

.form__group-item {
  height: 46px;
  display: flex;
  padding-bottom: 16px;
  align-items: center;
}

.form__control {
  position: relative;
  padding-left: 62px;
}

.form__control-mark {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: -10px;
}

.form__control-input[type="radio"]:checked + .form__control-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.form__control-label {
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.form__control-checkbox {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 5px;
  top: -10px;
}

.form__group-emotion {
  padding-top: 20px;
  padding-bottom: 33px;
}

.form__group-text {
  min-width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 0;
  display: block;

  &::placeholder {
    padding: 16px;
    font-weight: 700;
    line-height: 26px;
    font-size: 18px;
    color: #000000;
    opacity: 30%;
    font-family: "PT Sans", sans-serif;
  }
}

.form__group-note {
  text-transform: uppercase;
  padding-left: 143px;
  padding-top: 3px;
  padding-bottom: 22px;
  color: #333333;
  opacity: 60%;
}

.form__group-title--emotion {
  padding-left: 38px;
}
