.gallery {
  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.gallery__header {
  padding: 37px 20px 0;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.gallery__header-title {
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    line-height: 26px;
    font-size: 30px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.gallery__header-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      bottom: 5px;
      right: 0;
      left: 0;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 88px;
  }
}

.gallery-item__link {
  display: flex;
  max-height: 400px;
}

.gallery__list {
  @include reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  position: relative;
  padding: 36px 20px 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;

    &--wide {
      grid-column: 1 / 3;
    }
  }

  @media (min-width: $desktop-width) {
    &--wide {
      grid-column: 1 / 4;
    }
  }

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      bottom: -12px;
      right: 0;
      left: 0;
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}

.gallery-item__description {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 209px;
  }
}

.gallery-item__photo {
  background-color: #81b3d2;
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    max-height: 267px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.gallery-item__photo--wide {
  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.gallery-item__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding-top: 4px;
    padding-left: 4px;
  }

  &--full {
    @media (min-width: $desktop-width) {
      padding-top: 7px;
      padding-left: 0;
    }
  }
}

.gallery-item__text {
  color: #333333;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding-left: 4px;
    padding-top: 3px;
  }

  &--full {
    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-top: 0;
    }
  }
}

.gallery-item__like {
  display: flex;

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.gallery-item__sum {
  padding-top: 5px;
  color: #000000;
  margin-left: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin-left: 9px;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding-top: 14px;
  }
}

.gallery-item__wrapper {
  @media (min-width: $tablet-width) {
    padding: 22px 20px 15px;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 20px 15px 21px;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    background-color: #00000030;
    position: absolute;
  }
}

.gallery-item__button {
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.gallery-item__icon {
  fill: #000000;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}

.gallery__header-text--mobile {
  @media (max-width: 767px) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__header-text--tablet {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__header-text--desktop {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
