.gallery {
  padding: 30px 20px 0;
}

.gallery__title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.gallery__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 42px;
}

.gallery__item {
  padding-top: 24px;
  padding-bottom: 25px;
}

.gallery-item__image {
  background-color: #81b3d2;
  min-height: 280px;
  min-width: 280px;
}

.gallery-item__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;
}

.gallery-item__description {
  color: #333333;
  margin: 0;
}

.gallery__like-sum {
  color: #000000;
  padding-top: 16px;
}

.gallery-list {
  @include reset;
}
