.gallery-item__link {
  max-height: 400px;
}

.gallery-item__description {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 209px;
  }
}

.gallery-item__photo {
  background-color: #81b3d2;
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    max-height: 267px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.gallery-item__photo--wide {
  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.gallery-item__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding-top: 4px;
    padding-left: 4px;
  }

  &--full {
    @media (min-width: $desktop-width) {
      padding-top: 7px;
      padding-left: 0;
    }
  }
}

.gallery-item__text {
  color: #333333;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding-left: 4px;
    padding-top: 3px;
  }

  &--full {
    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-top: 0;
    }
  }
}

.gallery-item__like {
  display: flex;

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.gallery-item__sum {
  padding-top: 5px;
  color: #000000;
  margin-left: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin-left: 9px;
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding-top: 16px;
  }
}

.gallery-item__wrapper {
  @media (min-width: $tablet-width) {
    padding: 22px 20px 15px;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 20px 15px 21px;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    background-color: #00000030;
    position: absolute;
  }
}

.gallery-item__button {
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.gallery-item__icon {
  fill: #000000;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}
