.gallery {
  @media (min-width: $tablet-width) {
    padding: 66px 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 0;
  }
}

.gallery__title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
}

.gallery__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 64px;
  }
}

.gallery__list {
  @include reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  padding: 24px 20px 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;

    &--wide {
      grid-column: 1 / 3;
    }
  }

  @media (min-width: $desktop-width) {
    &--wide {
      grid-column: 1 / 4;
    }
  }
}

.gallery-item__image {
  background-color: #81b3d2;
  min-height: 280px;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 267px;

    &--wide {
      min-height: 400px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 267px;
  }
}

.gallery-item__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding-top: 0;
  }
}

.gallery-item__description {
  color: #333333;
  margin: 0;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.gallery-item__sum {
  color: #000000;
  padding-top: 16px;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.gallery-item__wrapper {
  @media (min-width: $tablet-width) {
    padding: 22px 20px 15px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 20px 17px 25px;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    background-color: #000000;
    opacity: 30%;
  }
}
