.intro-index {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #81b3d2;
  background-size: 100% 100%;
  background-image: url("../img/background-index-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-index-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 57px;
    background-image: url("../img/divider-intro.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    background-image: url("../img/background-index-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-index-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-image: url("../img/background-index-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-index-desktop@2x.jpg");
    }
  }
}

.intro-index__image {
  padding: 90px 0 85px;
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 77px 0 91px;
    width: 461px;
    height: 350px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    padding: 78px 0 90px;
  }
}
