.main-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal--error {
  display: none;
  min-height: 280px;
}

.modal--sent {
  display: none;
  min-height: 323px;
}

.modal__wrapper {
  background-color: #ffffff;
  height: min-content;

  @media (max-width: 767px) {
    margin-top: 116px;
    min-height: 280px;
  }

  @media (min-width: $tablet-width) {
    width: 400px;
    margin: 283px auto;
    min-height: 347px;
  }

  @media (min-width: $desktop-width) {

    margin: 162px auto;
  }
}

.modal__wrapper--sent {
  @media (min-width: $tablet-width) {
    min-width: 640px;
  }
}

.modal__content-wrapper--error {
  @media (max-width: 767px) {
    padding: 45px 42px 7px 41px;
  }

  @media (min-width: $tablet-width) {
    padding: 48px 42px 47px 41px;
  }
}

.modal__content-wrapper--sent {
  @media (max-width: 767px) {
    padding: 40px 42px 51px 41px;
  }

  @media (min-width: $tablet-width) {
    padding: 43px 42px 51px 41px;
  }
}

.modal__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 767px) {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__title br {
  @media (max-width: 767px) {
    display: none;
  }
}

.modal__title--error {
  @media (max-width: 767px) {
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.modal__title--sent {
  @media (max-width: 767px) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.modal__message {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.modal__button-wrapper {
  @media (max-width: 767px) {
    padding: 20px 0 20px;
  }
}

.modal__button-wrapper--sent {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 44px 0;
  }
}

.modal__button {
  border: none;
  padding: 18px 20px 14px 20px;
  display: block;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.modal__button--error {
  @media (max-width: 767px) {
    width: 180px;
    margin: 0 auto 35px auto;
  }

  @media (min-width: $tablet-width) {
    width: 272px;
    margin: 0 auto 49px auto;
  }
}

.modal__button--sent {
  @media (max-width: 767px) {
    width: 280px;
    margin: 0 auto 20px auto;
  }

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
  }
}

.modal__message--mobile {
  @media (max-width: 767px) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.modal__message--tablet {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.modal__message--desktop {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
