.main-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.main-modal--error {
  display: none;
  min-height: 280px;
}

.main-modal--sent {
  display: none;
  min-height: 323px;
}
