.main-navigation {
  display: flex;
  z-index: 100;
  min-width: 320px;
  position: static;
  min-height: 56px;
}

.site-list {
  flex-direction: column;
  display: flex;
  min-width: 320px;
  width: 100%;
  gap: 1px;
  background-color: #81b3d2;
  position: absolute;

  &.site-list {
    @include reset;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 153px 1fr 1fr;
    width: 100%;
    display: grid;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 240px 1fr 1fr;
  }
}

.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 10px 12px;
  text-align: center;
  display: block;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #ffffff30;
    background-color: #5496bd;
  }

  @media (min-width: $tablet-width) {
    color: #000000;
    box-shadow: none;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: #81b3d2;
      background-color: transparent;
    }

    &:active {
      color: #00000030;
      background-color: transparent;
    }

    &--current {
      color: #766357;
    }
  }
}

.site-list__item {
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  min-height: 55px;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }

  &:first-child {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

    @media (min-width: $tablet-width) {
      box-shadow: none;
    }
  }

  &:nth-child(3),
  &:nth-child(3n + 4) {
    @media (min-width: $tablet-width) {
      grid-column: 4;
    }
  }

  &:nth-child(4),
  &:nth-child(4n + 4) {
    @media (min-width: $tablet-width) {
      grid-column: 5;
      box-shadow: none;
    }
  }

  &:last-child {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    position: relative;

    @media (min-width: $tablet-width) {
      box-shadow: none;
      grid-column: 5;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 7px;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 153px;
    box-sizing: border-box;
    background-color: transparent;
  }
}

.main-navigation__toggle {
  width: 23px;
  height: 22px;
  border: none;
  padding: 0;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 5;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 23px;
    height: 4px;
    top: 0;
    right: 0;
    background-color: #81b3d2;
    box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  }

  &:hover::before {
    background-color: #81b3d260;
    box-shadow: 0 9px 0 0 #81b3d260, 0 18px 0 0 #81b3d260;
  }

  &:active::before {
    background-color: #81b3d230;
    box-shadow: 0 9px 0 0 #81b3d230, 0 18px 0 0 #81b3d230;
  }
}

@media (max-width: 767px) {
  .main-navigation--closed .site-list {
    display: none;
  }

  .main-navigation--nojs {
    padding-top: 96px;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }

  .main-navigation--nojs .site-list__item {
    display: block;
    background-color: #81b3d2;
  }

  .main-navigation--nojs .site-list {
    position: static;
    background-color: #81b3d2;
    display: block;
  }
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    top: 9px;
    right: -2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade(#ffffff, 60%);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}
