.main-navigation {
  display: flex;
  z-index: 100;
  min-width: 320px;
  position: static;
  min-height: 56px;
}

.main-navigation__toggle {
  width: 23px;
  height: 22px;
  border: none;
  padding: 0;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 5;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 23px;
    height: 4px;
    top: 0;
    right: 0;
    background-color: #81b3d2;
    box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  }

  &:hover::before {
    background-color: #81b3d260;
    box-shadow: 0 9px 0 0 #81b3d260, 0 18px 0 0 #81b3d260;
  }

  &:active::before {
    background-color: #81b3d230;
    box-shadow: 0 9px 0 0 #81b3d230, 0 18px 0 0 #81b3d230;
  }
}

@media (max-width: 767px) {
  .main-navigation--closed .main-navigation__list {
    display: none;
  }

  .main-navigation--nojs {
    padding-top: 96px;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }

  .main-navigation--nojs .main-navigation__list {
    position: static;
    background-color: #81b3d2;
    display: block;
  }
}

.main-navigation--opened .main-navigation__list {
  position: absolute;
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    top: 9px;
    right: -2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade(#ffffff, 60%);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}
