.map {
  padding-bottom: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.map iframe {
  width: 100%;
  border: none;
  display: block;
  position: absolute;
  max-width: 1200px;
  z-index: 1;
  top: 0;
  left: 0;
}

.map__image {
  display: block;
  width: 100%;
  min-height: 350px;
  background-color: #3b6689;
  border: none;
}
