.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  font-size: 14px;
  background-color: #e7e5e5;
  color: #000000;
}
