.review {
  text-align: center;
  padding: 36px 20px 28px;
  text-transform: uppercase;
}

.review__title {
  margin: 0;
  padding-bottom: 24px;
  line-height: 26px;
  font-size: 18px;
}

.review__text {
  color: #333333;
  margin: 0;
}
