@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
}

.main-header {
  width: 100%;
  position: relative;
  z-index: 20;
  background-color: #ffffff;
}

.main-header__link {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 185px;
  height: 96px;
  z-index: 100;
  background-color: #000000;
}

.main-navigation {
  display: flex;
  z-index: 100;
  min-width: 320px;
  position: relative;
  min-height: 56px;
}

.main-navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}

.site-list {
  flex-direction: column;
  display: flex;
  min-width: 320px;
  width: 100%;
  gap: 1px;
  background-color: #81b3d2;
}
.site-list.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .site-list {
    display: none;
  }
}
@media (min-width: 768px) {
  .site-list {
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
}

.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 10px 12px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  flex-grow: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .site-list__link {
    color: #000000;
    box-shadow: none;
    font-size: 14px;
    line-height: 21px;
  }
}

.site-list__item {
  display: flex;
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  min-height: 56px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .site-list__item {
    box-shadow: none;
  }
}
.site-list__item:first-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .site-list__item:first-child {
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(3) {
    grid-column: 4;
  }
}
.site-list__item:last-child {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  position: relative;
}
@media (min-width: 768px) {
  .site-list__item:last-child {
    box-shadow: none;
    grid-column: 5;
  }
}
.site-list__item:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .site-list__item:last-child::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    min-width: 153px;
    box-sizing: border-box;
    background-color: transparent;
  }
}

.main-container {
  flex-grow: 1;
  width: 100%;
}

.intro-index {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #81b3d2;
  padding: 90px 19px 85px;
  margin-bottom: 32px;
  background-size: 320px;
}
@media (min-width: 768px) {
  .intro-index {
    width: 100%;
    padding: 77px 0 91px;
    background-size: 518px;
  }
}
@media (min-width: 1200px) {
  .intro-index {
    width: 100%;
    padding: 78px 0 91px;
    background-size: 100% 518px;
  }
}

@media (min-width: 768px) {
  .intro-index__image {
    width: 461px;
    height: 350px;
    margin: 0 auto;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .intro-index__image {
    width: 460px;
    height: 350px;
    object-fit: cover;
  }
}

.advantages__block {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .advantages__block {
    padding: 0 124px;
  }
}
@media (min-width: 1200px) {
  .advantages__block {
    padding: 0 359px;
  }
}

.advantages__block-title {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

.advantages__block-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages__block-text {
    margin-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .advantages__block-text {
    margin-bottom: 44px;
  }
}

.advantages__list {
  text-align: center;
}
.advantages__list.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  color: #ffffff;
  text-align: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__number {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__text {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__content--city {
  padding: 54px 18px 40px;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .advantages__content--city {
    padding: 52px 33px 31px;
  }
}
@media (min-width: 1200px) {
  .advantages__content--city {
    padding: 52px 50px 51px;
  }
}

.advantages__content--bridge {
  padding: 37px 18px;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .advantages__content--bridge {
    padding: 52px 33px 31px;
    grid-column-start: 3;
  }
}
@media (min-width: 1200px) {
  .advantages__content--bridge {
    padding: 52px 50px 51px;
  }
}

.advantages__item--square {
  padding: 24px 26px;
  background-color: #eeeeee;
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__item--square {
    padding: 41px 33px 63px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .advantages__item--square {
    padding: 52px 50px;
  }
}

.advantages__item--road {
  padding: 24px 41px;
  background-color: #eeeeee;
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__item--road {
    padding: 41px 33px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .advantages__item--road {
    padding: 52px 50px;
  }
}

.advantages__item--tourists {
  padding: 24px 18px 28px;
  background-color: #eeeeee;
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__item--tourists {
    padding: 41px 33px 63px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .advantages__item--tourists {
    padding: 52px 50px;
  }
}

.advantages__photo {
  width: 100%;
  min-height: 260px;
  background-color: #3b6689;
}
@media (min-width: 768px) {
  .advantages__photo {
    grid-column: span 2;
  }
}

.advantages__title--dark {
  color: #000000;
}

@media (min-width: 768px) {
  .advantages__item-photo {
    display: grid;
    padding: 0;
    grid-column: 1/4;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .advantages__item-photo {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }
}

.hotel-search {
  padding: 39px 18px 49px;
  text-align: center;
}

.hotel-search__content {
  text-align: center;
  padding: 0 11px 32px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hotel-search__content {
    padding: 0 166px 44px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__content {
    padding: 0 382px 44px;
  }
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 24px;
}

.hotel-search__text {
  margin: 0;
  color: #333333;
}

.hotel-search__button {
  width: 284px;
}
@media (min-width: 768px) {
  .hotel-search__button {
    width: 458px;
  }
}

.map__search-image {
  width: 100%;
  min-height: 350px;
  background-color: #3b6689;
}

.main-footer {
  padding: 33px 82px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    padding: 100px 60px 36px;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 100px 120px 36px;
  }
}

.main-footer__link {
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.main-footer__social {
  padding-top: 31px;
  padding-bottom: 29px;
  display: grid;
}

.main-footer__text {
  text-transform: uppercase;
  margin: 0;
  padding-top: 7px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro-inner {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 158px;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .intro-inner {
    background-size: 290px;
    min-height: 290px;
  }
}
@media (min-width: 1200px) {
  .intro-inner {
    background-size: 518px;
  }
}

@media (min-width: 768px) {
  .intro-inner__image {
    width: 457px;
    height: 78px;
    margin: 0 auto;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding: 66px 60px 0;
  }
}
@media (min-width: 1200px) {
  .gallery {
    padding: 100px 0 0;
  }
}

.gallery__title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
}

.gallery__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 42px;
}
@media (min-width: 768px) {
  .gallery__text {
    padding-bottom: 62px;
  }
}
@media (min-width: 1200px) {
  .gallery__text {
    padding-bottom: 64px;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  padding: 24px 20px 25px;
}
@media (min-width: 768px) {
  .gallery__item {
    margin: 0;
    padding: 0;
  }
  .gallery__item--wide {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .gallery__item--wide {
    grid-column: 1/4;
  }
}

.gallery-item__image {
  background-color: #81b3d2;
  min-height: 280px;
  width: 100%;
}
@media (min-width: 768px) {
  .gallery-item__image {
    min-height: 267px;
  }
  .gallery-item__image--wide {
    min-height: 400px;
  }
}
@media (min-width: 1200px) {
  .gallery-item__image {
    min-height: 267px;
  }
}

.gallery-item__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .gallery-item__title {
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .gallery-item__title {
    color: #ffffff;
    padding-top: 0;
  }
}

.gallery-item__description {
  color: #333333;
  margin: 0;
}
@media (min-width: 1200px) {
  .gallery-item__description {
    color: #ffffff;
  }
}

.gallery-item__sum {
  color: #000000;
  padding-top: 16px;
}
@media (min-width: 1200px) {
  .gallery-item__sum {
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .gallery-item__wrapper {
    padding: 22px 20px 15px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .gallery-item__wrapper {
    padding: 17px 20px 17px 25px;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    background-color: #000000;
    opacity: 30%;
  }
}

.presentation {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .presentation {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .presentation {
    padding: 0 200px;
  }
}

.presentation__title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 17px;
}
@media (min-width: 768px) {
  .presentation__title {
    padding-top: 58px;
  }
}
@media (min-width: 1200px) {
  .presentation__title {
    padding-top: 62px;
  }
}

.presentation__text {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 38px;
}

.presentation__video {
  width: 100%;
  min-height: 177px;
  background-color: #3b6689;
}
@media (min-width: 768px) {
  .presentation__video {
    min-height: 500px;
  }
}

@media (min-width: 768px) {
  .form {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .form__wrapper::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: #dbdbdb;
    left: calc(50% - 3px);
    top: calc(50% - 169px);
  }
}
@media (min-width: 768px) {
  .form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1200px) {
  .form__wrapper {
    gap: 50px;
    margin-bottom: 71px;
  }
}

.form__group-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .form__group-list--radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0 36px 48px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .form__group-list--radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 28px;
    margin: 0 0 56px;
    padding: 17px 53px;
  }
}
@media (min-width: 768px) {
  .form__group-list--checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 32px;
    margin: 0 84px 42px;
  }
}
@media (min-width: 1200px) {
  .form__group-list--checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 64px;
    padding: 31px 44px;
    margin: 0 0 56px;
  }
}

.form__group {
  margin: 0;
  border: none;
  position: relative;
  padding: 0 20px 24px;
}
@media (min-width: 768px) {
  .form__group {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .form__group {
    padding: 0;
  }
}

.form__group-title {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .form__group-title {
    padding-bottom: 28px;
    padding-top: 0;
    width: 308px;
  }
}

.form__group-label {
  text-transform: uppercase;
  margin: 0;
  padding-left: 16px;
}

.form__group-input {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 16px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.form__group-input::placeholder {
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}
@media (min-width: 768px) {
  .form__group-input {
    width: 295px;
  }
}
@media (min-width: 1200px) {
  .form__group-input {
    width: 430px;
  }
}

.form__group-input--contacts::placeholder {
  opacity: 30%;
}

.form__group-item {
  height: 46px;
  display: flex;
  padding-bottom: 16px;
  align-items: center;
}

.form__control {
  position: relative;
  padding-left: 62px;
}

.form__control-mark {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: -10px;
}

.form__control-input[type=radio]:checked + .form__control-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.form__control-label {
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.form__control-checkbox {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 5px;
  top: -10px;
}

.form__block {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1200px) {
  .form__block {
    padding-left: 96px;
  }
}

.form__block-title {
  padding: 24px 0 20px 38px;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}
@media (min-width: 768px) {
  .form__block-title {
    padding-top: 42px;
    padding-bottom: 28px;
    padding-left: 200px;
  }
}
@media (min-width: 1200px) {
  .form__block-title {
    padding-top: 56px;
    padding-left: 255px;
  }
}

.form__block-text {
  min-width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
.form__block-text::placeholder {
  padding: 16px;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  color: #000000;
  opacity: 30%;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: block;
}
@media (min-width: 768px) {
  .form__block-text {
    min-width: 648px;
    min-height: 160px;
  }
}
@media (min-width: 1200px) {
  .form__block-text {
    min-width: 768px;
    min-height: 160px;
  }
}

.form__button-note {
  text-transform: uppercase;
  padding-left: 143px;
  padding-top: 3px;
  padding-bottom: 22px;
  color: #333333;
  opacity: 60%;
}

.form__button {
  width: 280px;
  padding: 56px 20px 0;
}
@media (min-width: 768px) {
  .form__button {
    display: grid;
    grid-template-columns: 280px 298px;
    column-gap: 92px;
    row-gap: 48px;
  }
}
@media (min-width: 1200px) {
  .form__button {
    padding-left: 96px;
    column-gap: 211px;
  }
}

.form__button-submit {
  width: 280px;
}
@media (min-width: 768px) {
  .form__button-submit {
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .form__button-submit {
    width: 384px;
  }
}

.review {
  text-align: center;
  padding: 36px 20px 28px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .review {
    padding: 64px 166px 108px;
  }
}
@media (min-width: 1200px) {
  .review {
    padding: 115px 382px 68px;
  }
}

.review__title {
  margin: 0;
  padding-bottom: 24px;
  line-height: 26px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .review__title {
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .review__title {
    padding-bottom: 31px;
  }
}

.review__text {
  color: #333333;
  margin: 0;
}

.page-container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.features-list {
  padding: 23px 18px 46px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .features-list {
    display: flex;
    grid-column: 1/4;
    grid-row: 2/3;
    flex-direction: row;
    padding: 0;
  }
}

.features-list__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding: 8px 0 16px;
}

.features-list__item {
  padding-left: 47px;
  text-align: left;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .features-list__item {
    text-align: center;
    width: 190px;
    min-height: 210px;
    padding: 150px 33px 0;
  }
}
@media (min-width: 1200px) {
  .features-list__item {
    text-align: center;
    width: 300px;
    min-height: 192px;
    padding: 166px 50px 0;
  }
}

.features-list__item:last-child {
  padding-bottom: 0;
}

.features-list__text {
  margin: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 16px 5px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */