.page {
  height: 100%;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
}

.page-body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
