.page {
  height: 100%;
  font-weight: 400;
  font-family: "pt sans", "arial", sans-serif;
  line-height: 21px;
  font-size: 14px;
}

.page-body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

.page-container {
  width: 320px;
  margin: 0 auto;
}
